/* COLORS 
  
  $primary: #3488FA;
  $white: #ffffff;
  $grey10: #F4F7FA;
  $grey40: #B9C3D5;
  $grey80: #818B9D;
  $grey90: #222222;
  $borderColor: #B9C3D4; */
:root{
  --primary: #3488FA;
  --primarySoft: #4b93f1;
  --primaryDarker: #257af0; 
  --white: #ffffff;
  --grey10: #F4F7FA; 
  --grey40: #B9C3D5;
  --grey80: #818B9D;
  --grey90: #222222;
  --borderColor: #B9C3D4; 
  
}
